/*
colors used:
primary(off white):#F0F8FF
secondary(teal):#008080
*/
body {
  font-family: "imprima", sans-serif;
}
body {
  background-color: #ffffff;
  font-family: "imprima", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #ff7f50;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}
a:visited {
  color: #ff7f50;
}
a:active {
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
.primary-button {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.primary-button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
img {
  width: 100%;
}
.container {
  padding: 0 15px;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#hero h1 {
  text-align: center;
}
.logo {
  max-width: 250px;
}
header {
  background-color: #f0f8ff;
  text-align: center;
  padding: 0px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
}
.list {
  list-style-type: none;
  padding: 0%;
}
.list > li {
  display: inline-block;
}
.list > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
.list > li > a:visited {
  padding: 0%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #f0f8ff;
}
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}
.css-box-shadow {
  /*start ------------*/
  width: [object Object]px;
  height: [object Object]px;
  background: f0f8ff;
  border: solid f0f8ff 1px;
  box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
}
