/*
colors used:
primary(off white):#F0F8FF
secondary(teal):#008080
*/
body {
  background-color: #ffffff;
  font-family: "imprima", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #ff7f50;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}
a:visited {
  color: #ff7f50;
}
a:active {
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
.primary-button {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.primary-button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
img {
  width: 100%;
}
.container {
  padding: 0 15px;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#hero h1 {
  text-align: center;
}
.logo {
  max-width: 250px;
}
header {
  background-color: #f0f8ff;
  padding: 0px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
}
.list {
  list-style-type: none;
  padding: 0%;
}

.list > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
.list > li > a:visited {
  padding: 0%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #f0f8ff;
}
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}
.css-box-shadow {
  background: floralwhite;
  border: solid floralwhite 1px;
  box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 17px 35px rgba(0, 0, 0, 0.2);
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }
  nav {
    width: auto;
    margin: 1em 0;
  }
  .list {
    float: right;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  .logo {
    width: 50px;
  }
  .list > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 40%;
  }
  .col-lg-7 {
    width: 60%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
body {
  font-size: 18px;
}
.logo {
  max-width: 150px;
}
.olive-title > img {
  float: left;
  width: 100px;
  padding-right: 21px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.button {
  display: inline-block;
  background-color: #fbfbfb;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 50px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
